## excution files
*.exe

## rom files
*.smc
*.sfc

## backup file generated
*.bak
*.ips

## compressed files
*.fe4

## some temporary files
새 폴더
dump/*
a.sym
doc/~$*.xlsx
dialogue_text/convert/*
msu_rom/*
fe4_trans.cpu.sym
fe4_trans.smp.sym
fe4_trans.srm
snes_intro/image/*
snes_intro/*.xdelta
*.sym
